<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- The Xsp Library -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.Library" class="org.openntf.xsp.el3.EL3Library" />
	</extension>
	
	<!-- The ApplicationListener to install the EL3 binding factory -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.core.events.ApplicationListener" class="org.openntf.xsp.el3.EL3ApplicationListener" />
	</extension>
</plugin>
