<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018-2025 Contributors to the XPages Jakarta EE Support Project

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
	<!-- Framework support for classic NSF modules -->
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.module.ComponentModuleProcessor" class="org.openntf.xsp.jakartaee.module.xspnsf.NSFComponentModuleProcessor"/>
	</extension>
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.module.ComponentModuleLocator" class="org.openntf.xsp.jakartaee.module.xspnsf.NSFComponentModuleLocator"/>
	</extension>
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.discovery.ApplicationPropertyLocator" class="org.openntf.xsp.jakartaee.module.xspnsf.NSFContextApplicationPropertyLocator"/>
	</extension>
	
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakarta.cdi.discovery.CDIClassContributor" class="org.openntf.xsp.jakartaee.module.xspnsf.cdi.XSPCDIClassContributor" />
	</extension>
	
	<!-- Concurrency CDI thread assistant -->
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakarta.concurrency.ContextSetupParticipant" class="org.openntf.xsp.jakartaee.module.xspnsf.cdi.concurrency.NSFSessionClonerSetupParticipant" />
	</extension>
	
	<!-- ContextSetupParticipant to propagate NotesContext information for NSFService requests -->
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakarta.concurrency.ContextSetupParticipant" class="org.openntf.xsp.jakartaee.module.xspnsf.concurrency.NSFNotesContextParticipant" />
	</extension>
	
	<!-- The ApplicationListener to manage the CDI context -->
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.events.JakartaApplicationListener" class="org.openntf.xsp.jakartaee.module.xspnsf.concurrency.ConcurrencyApplicationListener" />
	</extension>
</plugin>
