<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<fragment>
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.cdi.discovery.WeldBeanClassContributor" class="org.openntf.xsp.jaxrs.weld.JerseyBeanClassContributor"/>
	</extension>
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jaxrs.ServiceParticipant" class="org.openntf.xsp.jaxrs.weld.WeldServiceParticipant"/>
	</extension>
</fragment>
