<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018-2026 Contributors to the XPages Jakarta EE Support Project

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
	<!-- Faux HTTP Service provider to ensure that the activator launches early -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.adapter.serviceFactory" class="org.openntf.xsp.jakartaee.JakartaEarlyInitFactory"/>
	</extension>
	
	<!-- Standard ComponentEnableLocator implementations -->
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.discovery.ComponentEnabledLocator" class="org.openntf.xsp.jakartaee.discovery.impl.ComponentModuleComponentEnabledLocator"/>
	</extension>
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.discovery.ComponentEnabledLocator" class="org.openntf.xsp.jakartaee.discovery.impl.XPagesComponentEnabledLocator"/>
	</extension>
	
	<!-- Standard ApplicationPropertyLocator implementations -->
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.discovery.ApplicationPropertyLocator" class="org.openntf.xsp.jakartaee.discovery.impl.ComponentModuleApplicationPropertyLocator"/>
	</extension>
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.discovery.ApplicationPropertyLocator" class="org.openntf.xsp.jakartaee.discovery.impl.XPagesApplicationPropertyLocator"/>
	</extension>
	
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.core.events.ApplicationListener" class="org.openntf.xsp.jakartaee.events.impl.JakartaApplicationListenerImpl"/>
	</extension>
	
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.osgiresourceloader.ContextServiceLoader" class="org.openntf.xsp.jakartaee.module.impl.ActiveModuleServiceLoader"/>
	</extension>
	
	<extension point="com.ibm.commons.Extension">
		<service type="org.openntf.xsp.jakartaee.module.ServletContainerInitializerProvider" class="org.openntf.xsp.jakartaee.module.impl.ServiceLoaderServletContainerInitializerProvider"/>
	</extension>
</plugin>
