<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright © 2018-2022 Jesse Gallagher

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>
	<!-- The Xsp Library -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.Library" class="org.openntf.xsp.jsp.JspLibrary" />
	</extension>
	
	<!-- Faux HTTP Service provider to add hooks for JSP handling to the environment -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.adapter.serviceFactory" class="org.openntf.xsp.jsp.EarlyInitFactory"/>
	</extension>
	
	<!-- Handle in-NSF JSP files -->
	<extension point="com.ibm.commons.Extension">
		<service type="com.ibm.xsp.adapter.servletFactory" class="org.openntf.xsp.jsp.nsf.JspServletFactory" />
	</extension>
	
	<!-- Hint to Designer that .jsp and .tag files can be treated as HTML -->
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			file-extensions="jsp,jspx"
			priority="low"
			name="Jakarta Server Pages file"
			default-charset="UTF-8"
			id="org.openntf.xsp.jsp.page"
			base-type="org.eclipse.wst.html.core.htmlsource">
		</content-type>
		<content-type
			file-extensions="tag"
			priority="low"
			name="Jakarta Server Pages custom tag"
			default-charset="UTF-8"
			id="org.openntf.xsp.jsp.tag"
			base-type="org.openntf.xsp.jsp.page">
		</content-type>
	</extension>
</plugin>
